name: "Docker Hub"
on:
  push:
    tags:
    - "[0-9]+.[0-9]+" # Matches yyyymmdd.x
    - "[0-9]+.[0-9]+.beta[0-9]+" # Matches yyyymmdd.x.betaN
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: kaosf
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: kaosf/sn
        # tags: |
        #   type=ref,event=tag
        tags: |
          type=match,pattern=\d{8}\.\d+(\.beta\d+)?,group=0 # This will capture yyyymmdd.x or yyyymmdd.x.betaN
        # NOTE: Prefer `match` over `ref` to strictly control tag formats.
        flavor: |
          latest=${{ !contains(github.ref, 'beta') }} # Set latest only if 'beta' is not in the tag
    - name: Build & push an image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
